body {
  font-family: 'Poppins', sans-serif;
  color: #000000;
}



/**
  |============================
  | Частковий reset стилів
  |============================
*/

h1,h2,h3,h4,p{
  margin: 0;
}

img {
  display: block;
}

main{
  padding-top: 150px;
}
section{
  padding: 90px 0px;
}
.link {
  text-decoration: none;
  color: currentColor;
}
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Common styles */
.container {
  width: 1378px;
  padding: 0 20px;
  margin-right: auto;
  margin-left: auto;
  /* outline: 1px solid red; */
}
.main-title {
  margin-bottom: 40px;
  font-weight: 600;
  font-size: 64px;
  line-height: 1.25;
}
.section-title {
  text-align: center;
  font-weight: 600;
  font-size: 48px;
  line-height: 1.5;

  margin-bottom: 60px;
}
.logo {
  font-weight: 400;
  font-size: 36px;
  line-height: 1.5;

  text-align: center;
  letter-spacing: 0.03em;

  color: #000000;
}
.logo-light {
  color: #939393;
}

/*  Header  */

.page-header{
  position: fixed;
  width: 100%;
  padding: 20px 0;
  z-index: 10;
  background-color: white;
  border-bottom: 1px solid azure;
}

.header-container{
  display: flex;
  align-items: center;
}

.nav{
  margin-left: 236px;
}

.nav-list{
  display: flex;
  gap: 50px;


}

.nav-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  padding: 20px 0;
  color: #263238;
}
.header-btn {
margin-left: auto;
padding: 18px 56px;
min-width: 312px;
min-height: 70px;

  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.03em;

  background-color: transparent;
  border: 2px solid #263238;
  border-radius: 10px;
  cursor: pointer;
}

/*  Hero section  */

.hero-container{
  display: flex;
  justify-content: space-between;
}

.hero-wrapper {
  display: block;
  width: 540px;
  position: relative;

}

.hero-pic{
  position: absolute;
  top: 100px;
  right: 0;
}

.hero-text {
  margin-bottom: 60px;

  font-size: 24px;
  line-height: 1.5;
  color: #8f95a5;
}
.hero-btn {
  min-width: 426px;
  max-width: 460px;
  min-height: 100px;
  padding: 23px 64px;
  border: none;

  font-size: 36px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #ffffff;

  background-color: #263238;
  border-radius: 10px;
  cursor: pointer;
}

/* Skills section */
.skills-title {
}

.skills-list{
  display: grid;
  gap: 30px;
  grid-template-areas:
   'skill-item-speaking skill-item-writing skill-item-reading'
   'skill-item-speaking skill-item-listening skill-item-listening';
}

/* grid-area for grid-template-areas  */

.skill-item-speaking{
  grid-area: skill-item-speaking ;
}
.skill-item-writing{
  grid-area: skill-item-writing;
}
.skill-item-reading{
  grid-area: skill-item-reading;
}
.skill-item-listening{
  grid-area: skill-item-listening;
}

.skills-item {
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 32px 18px;
}

.skills-subtitle {
  font-weight: 600;
  font-size: 30px;
  line-height: 1.5;
  color: #263238;

  margin-bottom: 20px;

}

.skills-text {
  font-size: 16px;
  line-height: 1.5;
  color: #8f95a5;

  margin-bottom: 30px;
}

.skills-link {
  display: inline-block;
  background-color: #263238;
  color: #ffffff;
  border-radius: 10px;
  padding: 15px 50px;
}

/* About section */
.about-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-list{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
}

.about-title{
  text-align: start;
}

.about-text {
  font-size: 20px;
  line-height: 1.8;
  color: #8f95a5;
  margin-bottom: 30px;
}

.about-heading {
  font-weight: 600;
  font-size: 48px;
  line-height: 1.5;
  text-align: center;

  color: #2a3246;
}
.about-descr {
  font-size: 20px;
  line-height: 1.5;
  text-align: center;

  color: #8f95a5;
}

/* Pricing section */
.pricing-title {
  font-weight: 600;
  font-size: 30px;
  line-height: 1.6;
  text-transform: capitalize;
  color: #263238;
  margin-bottom: 20px;
}

.pricing-list{
  display: grid;
  grid-template-columns:1fr 1fr 1fr;
  gap: 30px;
}

.pricing-item{
}

.pricing-wrapper{
  width: 100%;
  min-height: 270px;
  padding: 32px 5px 5px 5px;
  position: relative;
}

.pricing-text {
  font-size: 20px;
  line-height: 1.5;

  color: #8f95a5;
}

.pricing-meta {
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-color: #eeeeee;
  border-radius: 5px;
}

.pricing-meta-cost {
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #263238;
}

.pricing-meta-period {
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  color: #546269;
}

/* Contact section */

.contacts-container{
  display: flex;
  gap: 140px;
}

.contacts-right-side{
  text-align: start;
  display: block;
  margin-left: auto;
}

.contacts-title{
  text-align: start;
}

.contacts-descr {
  font-size: 20px;
  line-height: 1.5;
  color: #8f95a5;
  margin-bottom: 30px;
}

.subscribe-form-input {
  font-size: 16px;
  line-height: 1.88;
  color: #8f95a5;
}

.subscribe-form-btn {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #ffffff;

  background-color: #263238;
  border-radius: 10px;
}

/* Footer section */
.footer-link {
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.02em;
  color: #8f95a5;
}
